body {
    font-family: 'Outfit';
    font-size: 20px;
    background-color: white;
}


/* ------ Top header & Nav bar ------*/
header {
    margin: 15px;
    position: sticky;
    top: 0;
    display: flex;
    background-color: #6e3014;
    color: white;
    font-size: 20px;
    align-items: center;
    border-radius: 12px; 
    transition: 0.8s ease;
    box-shadow: #2b2b2b 50px;
}

header:hover{
    transform: scale(1.009);
    transition: 0.8s ease;
}

header h1{
    padding-left: 2rem;
    font-size: 2.5rem;
    margin: 20px;
}


/* --- Nav bar --- */
.top-nav {
    display: flex;
    gap: 3rem;
    margin-left: auto; 
    align-items: center
}

.top-nav a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.3rem;
    transition: 0.5s ease;
}

.top-nav a:hover {
    transform: translateY(-4px);
    transition: 0.5s ease;
}

.account-icon {
    width: 60px;
    height: 60px; 
    border-radius: 50%; 
    transition: transform 0.2s ease;
    padding-right: 2rem;
    align-self: center;
}

.account-icon:hover {
    transform: scale(1.1); 
}

.landing-content {
    display: flex;
    justify-content: center;
}
  
.landing-image {
    max-width: 100%;
    width: ;
    height: auto;
}